html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  height: 100%; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

body {
  font-family: Century Gothic;
  height: 100%;
  line-height: 1.2; }

@font-face {
  font-family: 'RobotoRegular';
  src: url("../fonts/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular.eot") format("embedded-opentype"), url("../fonts/RobotoRegular.woff2") format("woff2"), url("../fonts/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular.ttf") format("truetype"), url("../fonts/RobotoRegular.svg#RobotoRegular") format("svg"); }

@font-face {
  font-family: 'RobotoItalic';
  src: url("../fonts/RobotoItalic.eot");
  src: url("../fonts/RobotoItalic.eot") format("embedded-opentype"), url("../fonts/RobotoItalic.woff2") format("woff2"), url("../fonts/RobotoItalic.woff") format("woff"), url("../fonts/RobotoItalic.ttf") format("truetype"), url("../fonts/RobotoItalic.svg#RobotoItalic") format("svg"); }

@font-face {
  font-family: 'RobotoMedium';
  src: url("../fonts/RobotoMedium.eot");
  src: url("../fonts/RobotoMedium.eot") format("embedded-opentype"), url("../fonts/RobotoMedium.woff2") format("woff2"), url("../fonts/RobotoMedium.woff") format("woff"), url("../fonts/RobotoMedium.ttf") format("truetype"), url("../fonts/RobotoMedium.svg#RobotoMedium") format("svg"); }

@font-face {
  font-family: 'RobotoBold';
  src: url("../fonts/RobotoBold.eot");
  src: url("../fonts/RobotoBold.eot") format("embedded-opentype"), url("../fonts/RobotoBold.woff2") format("woff2"), url("../fonts/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold.ttf") format("truetype"), url("../fonts/RobotoBold.svg#RobotoBold") format("svg"); }

.container {
  padding: 0px 105px;
  box-sizing: border-box; }

.wrapper-header {
  height: 110px;
  padding-left: 7px;
  padding-right: 7px; }

.top-header {
  height: 28px;
  background-color: #505357; }

.bottom-header {
  height: 50px;
  box-sizing: border-box; }

.top-header_mail {
  font-family: "RobotoRegular";
  color: #a8a8a9;
  font-size: 11px;
  line-height: 28px;
  display: inline-block; }

.top-header_mail:before {
  content: "";
  background: url(../images/grey_envelope.png) no-repeat center;
  display: inline-block;
  width: 17px;
  height: 14px;
  margin-top: 5px;
  margin-right: 5px; }

.social-links_item {
  width: 40px;
  border-left: 1px solid #606367;
  display: inline-block;
  height: 100%;
  cursor: pointer;
  margin-right: -4px; }

.social-links {
  display: inline-block;
  height: 100%;
  float: left; }

.top-header-infoWrapper {
  display: inline-block;
  float: right;
  height: 100%; }

.social-links_item i {
  color: #878889;
  font-size: 12px; }

.social-links_item a {
  display: block;
  margin: 0 auto;
  text-align: center;
  line-height: 27px; }

.input-field {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  height: 100%;
  width: 160px;
  background: url(../images/arrow.png) #36393c no-repeat center;
  font-size: 11px;
  background-position: 73%;
  font-family: "RobotoRegular";
  border: 0px;
  padding-left: 70px;
  outline: none; }

.language {
  width: 160px;
  display: inline-block;
  height: 100%;
  color: #a8a8a9;
  position: relative; }

.language:before {
  background: url(../images/flag.jpg) #36393c no-repeat center;
  content: "";
  width: 22px;
  height: 13px;
  position: absolute;
  left: 40px;
  top: 8px; }

.language-triangle {
  float: right;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 28px 28px 0 0;
  border-color: #36393c #fff #fff #fff; }

.logo-block {
  background: url(../images/logo.png) no-repeat center;
  width: 222px;
  height: 18px;
  display: inline-block;
  float: left; }

.logo-wrapper {
  width: 220px; }

.phone-area {
  display: inline-block;
  float: right;
  margin-right: 20px; }

.logo-text_left {
  font-size: 14px;
  color: #45484a;
  font-family: 'RobotoItalic';
  float: left;
  display: inline-block; }

.logo-text_right {
  font-family: 'RobotoMedium';
  font-size: 12px;
  color: #fead2d;
  float: right;
  display: inline-block; }

.phone-area_item {
  font-size: 14px;
  color: #45484a;
  height: 25px;
  font-family: 'RobotoRegular';
  display: inline-block;
  padding-left: 10px;
  line-height: 25px;
  border-left: 1px solid #dddddd;
  padding-right: 15px;
  box-sizing: sborder-box; }

.phone-area_item:first-child {
  border: 0px;
  position: relative;
  padding-right: 5px;
  box-sizing: sborder-box; }

.order-link:before {
  background: url(../images/phone.png) no-repeat center;
  width: 11px;
  height: 19px;
  content: "";
  position: absolute;
  left: -9px;
  top: 3px; }

.order-link {
  font-size: 11px;
  color: #45484a;
  height: 100%; }

.middle-header {
  height: 40px;
  padding-top: 10px;
  box-sizing: border-box; }

.navigation_item {
  display: inline-block;
  height: 100%;
  padding-right: 34px;
  margin-left: -5px; }

.navigation_item_link {
  font-size: 13px;
  color: #a95307;
  height: 100%;
  text-transform: uppercase;
  font-family: 'RobotoMedium';
  height: 100%;
  line-height: 42px; }

.navigation {
  height: 43px;
  padding-left: 9px;
  float: right;
  background-color: #fdc84e;
  float: right;
  display: inline-block;
  margin-right: 1px;
  position: relative; }

.navigation_item i {
  font-size: 18px;
  color: #a95307;
  vertical-align: middle; }

.navigation_item:hover .navigation_item_link {
  text-decoration: none;
  color: #d6272a; }

.navigation_item:hover .fa-home, .navigation_item:hover .fa-plane,
.navigation_item:hover .fa-building, .navigation_item:hover .fa-comments,
.navigation_item:hover .fa-envelope-o {
  color: #d6272a; }

.navigation:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0px 0px 43px 23px;
  border-color: transparent transparent #fdc84e transparent;
  position: absolute;
  left: -22px; }

.tour-wrapper {
  background: url(../images/tour_bg.jpg) no-repeat center;
  background-size: cover;
  height: 35rem;
  width: 100%; }

.tour-title_main {
  font-family: 'RobotoBold';
  font-size: 45px;
  text-align: center;
  color: #fff; }

.tour-wrapper {
  padding-top: 90px;
  text-shadow: 1.026px 2.819px 6.72px rgba(29, 25, 25, 0.4);
  color: #fff; }

.tour-text_title {
  text-align: center;
  color: #fff;
  font-size: 22px;
  font-family: 'RobotoMedium';
  text-transform: uppercase;
  margin-top: 40px; }

.tour-text {
  width: 687px;
  margin: 0 auto;
  text-align: center;
  font-size: 22px;
  font-family: 'RobotoRegular'; }

.wrapper-button {
  width: 275px;
  height: 50px;
  box-sizing: border-box;
  border: 2px solid #fff;
  border-radius: 2px;
  background: #ff862c;
  margin: 0 auto;
  cursor: pointer;
  margin-top: 35px; }

.tour-button {
  width: 265px;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid #fff;
  background: #ff862c;
  margin: 0 auto;
  cursor: pointer;
  line-height: 38px;
  display: block;
  font-size: 19px;
  font-family: 'RobotoRegular';
  margin-top: 3px;
  text-align: center;
  transition: all 1s ease;
  text-shadow: none;
  color: #fff; }

.tour-button:hover {
  text-decoration: none;
  color: #ff862c;
  background: #fff; }

.info-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #dd292b;
  color: #fff;
  line-height: 80px;
  text-align: center;
  font-size: 40px;
  margin: 0 auto;
  margin-top: 60px;
  padding-top: 20px; }

.info-image_inside {
  background: url(../images/paper.png) no-repeat center;
  width: 31px;
  height: 41px;
  margin: 0 auto; }

.info-title {
  color: #df4444;
  font-size: 35px;
  text-transform: uppercase;
  font-family: 'RobotoMedium';
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px; }

.info-text {
  color: #6d6d6d;
  font-size: 19px;
  font-family: 'RobotoRegular';
  width: 720px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 40px;
  display: inline-block;
  margin-top: 20px; }

.info-text_techo {
  font-family: 'RobotoRegular';
  color: #ff862c; }

.tour-item_title {
  display: inline-block;
  color: #3d3d3d;
  font-family: 'RobotoRegular';
  font-size: 20px;
  margin-left: 10px; }

.tour-item_image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #fff;
  background: #f8c142;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
  display: inline-block; }

.tour-item {
  border: 1px solid #e0e0e0;
  border-radius: 1px;
  height: 160px;
  background: #f7f7f7;
  background: -moz-linear-gradient(-207deg, #f8f8f8 0%, #f8f8f8 50%, #f3f3f3 51%, #f4f4f4 100%);
  background: -webkit-linear-gradient(-207deg, #f8f8f8 0%, #f8f8f8 50%, #f3f3f3 51%, #f4f4f4 100%);
  background: -o-linear-gradient(-207deg, #f8f8f8 0%, #f8f8f8 50%, #f3f3f3 51%, #f4f4f4 100%);
  background: -ms-linear-gradient(-207deg, #f8f8f8 0%, #f8f8f8 50%, #f3f3f3 51%, #f4f4f4 100%);
  background: linear-gradient(-207deg, #f8f8f8 0%, #f8f8f8 50%, #f3f3f3 51%, #f4f4f4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#f4f4f4',GradientType=0 );
  padding-top: 15px;
  padding-left: 20px;
  box-sizing: border-box; }

.tour-item_wrapper {
  padding-left: 7px;
  padding-right: 0px; }

.tour-items {
  margin-bottom: 60px; }

.tour-item_text {
  color: #3d3d3d;
  font-size: 14px;
  margin-top: 20px;
  font-family: 'RobotoRegular'; }

.tour-item_textRed {
  color: #dd292b;
  font-family: 'RobotoBold'; }

.info-button {
  border: 2px solid #ebecf3;
  margin-bottom: 55px; }

.info-button .tour-button {
  border: 1px solid #f6b689; }

.comments-image {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  border: 1px solid #ff862c;
  text-align: center;
  margin: 0px 10px; }

.comments-image i {
  color: #ff862c;
  font-size: 30px;
  line-height: 80px; }

.line-head {
  height: 1px;
  width: calc(100% / 2 - 50px);
  background: #dad9d7;
  display: inline-block; }

.comments {
  display: flex;
  align-items: center; }

.comments-text {
  color: #494f53;
  font-family: 'RobotoRegular';
  font-size: 19px;
  width: 780px;
  margin: 0 auto;
  text-align: center; }

.slider {
  padding: 0px; }

.slider .left {
  background: url(../images/control_left.png) no-repeat center;
  width: 21px;
  height: 23px; }

.slider .right {
  background: url(../images/control_right.png) no-repeat center;
  width: 21px;
  height: 23px; }

.item_comment {
  width: 398px;
  height: 138px;
  border-radius: 3px;
  background: #ffcf5f;
  padding-left: 18px;
  padding-top: 25px;
  padding-right: 18px;
  box-sizing: border-box;
  position: relative;
  margin: 0 auto; }

.item-wrapper {
  display: inline-block; }

.item_comment:after {
  background: url(../images/triangle.png) no-repeat center;
  content: "";
  display: block;
  width: 18px;
  position: absolute;
  bottom: -11px;
  height: 11px;
  left: 40px; }

.user-info_image1 {
  background: url(../images/slider_image1.png) no-repeat center;
  width: 83px;
  height: 81px;
  display: inline-block; }

.user-info_image2 {
  background: url(../images/slider_image2.png) no-repeat center;
  width: 80px;
  height: 76px;
  display: inline-block; }

.user-info {
  width: 398px;
  margin: 0 auto;
  margin-top: 20px; }

.user-info_text {
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  color: #353535;
  font-family: 'RobotoItalic'; }

.user-info_name {
  color: #df4444;
  font-family: 'RobotoRegular';
  font-size: 16px; }

.feed-button {
  margin-top: 0px;
  margin-bottom: 105px; }

.companies-wrapper .info-text {
  width: 680px;
  margin: 0px auto;
  display: block; }

.slider-wrapper .flex-control-nav {
  display: none; }

.slider-wrapper .flex-prev {
  background: url(../images/control_left.png) no-repeat center;
  width: 21px;
  height: 23px;
  text-indent: -9999px; }

.slider-wrapper .flex-next {
  background: url(../images/control_right.png) no-repeat center;
  width: 21px;
  height: 23px;
  text-indent: 9999px; }

.slider-wrapper .flex-next {
  opacity: 1;
  right: -22px !important;
  top: 75px; }

.slider-wrapper .flex-prev {
  opacity: 1;
  left: -22px !important;
  top: 75px; }

.slider-wrapper:hover .flex-direction-nav .flex-next {
  opacity: 1;
  right: -22px !important;
  top: 75px; }

.slider-wrapper:hover .flex-direction-nav .flex-prev {
  opacity: 1;
  left: -22px !important;
  top: 75px; }

.slider-wrapper {
  margin-top: 45px !important; }

.google_logo {
  background: url(../images/google_pic.png) no-repeat center;
  width: 154px;
  height: 48px; }

.google_block {
  width: 350px;
  height: 340px; }

.google_logo-text {
  color: #968c8c;
  font-size: 12px;
  font-family: 'RobotoItalic'; }

.google_text {
  color: #181616;
  font-size: 14px;
  font-family: 'RobotoRegular';
  margin-top: 11px;
  margin-bottom: 25px; }

.google_block .wrapper-button {
  width: 230px;
  height: 50px;
  border: 2px solid #c7c4c4;
  background: #fff;
  margin-top: 50px;
  margin-left: 0px;
  transition: all 1s ease; }

.google_block .tour-button {
  width: 220px;
  height: 40px;
  border: 1px solid #e5e3e3;
  background: #fff;
  color: #67615b;
  font-size: 19px;
  font-family: 'RobotoRegular';
  transition: all 1s ease; }

.google_block .tour-button:hover {
  background: #67615b;
  color: #fff; }

.google_block {
  border-top: 1px solid #c7c4c4;
  border-left: 1px solid #c7c4c4;
  border-bottom: 1px solid #c7c4c4;
  border-radius: 4px 0px 0px 4px;
  box-sizing: border-box;
  padding-top: 25px;
  padding-left: 30px;
  display: inline-block;
  float: left;
  margin-top: 20px; }

.google_big {
  background: url(../images/google_big.png) no-repeat center;
  width: 469px;
  height: 377px;
  display: inline-block; }

.slider-google .flex-control-nav {
  display: none; }

.slider-google .flex-prev {
  background: url(../images/arrow_left.png) no-repeat center;
  width: 26px;
  height: 26px;
  text-indent: -9999px; }

.slider-google .flex-next {
  background: url(../images/arrow_right.png) no-repeat center;
  width: 26px;
  height: 26px;
  text-indent: 9999px; }

.slider-google .flex-next {
  opacity: 1;
  right: 0px !important;
  bottom: 0px; }

.slider-google .flex-prev {
  opacity: 1;
  right: 0px !important;
  bottom: 0px; }

.slider-google {
  position: relative;
  width: 820px;
  margin: 0 auto;
  margin-top: 65px; }

.slider-google .flex-nav-prev {
  position: absolute;
  right: 45px;
  bottom: 14px; }

.slider-google .flex-nav-next {
  position: absolute;
  right: 15px;
  bottom: 14px; }

.booklet_image1 {
  background: url(../images/image1_pic.png) no-repeat center;
  width: 163px;
  height: 180px;
  margin: 0 auto; }

.booklet_image2 {
  background: url(../images/image2_pic.png) no-repeat center;
  width: 161px;
  height: 182px;
  margin: 0 auto; }

.booklet_image3 {
  background: url(../images/image3_pic.png) no-repeat center;
  width: 160px;
  height: 182px;
  margin: 0 auto; }

.booklet_link {
  display: block;
  color: #df4444;
  font-size: 12px;
  font-family: 'RobotoBold';
  text-align: center;
  margin-top: 5px;
  text-transform: uppercase; }

.booklet_link_orange {
  color: #ffa854; }

.booklets-wrapper {
  margin-top: 90px;
  margin-bottom: 85px; }

.dotted-line1, .dotted-line2, .dotted-line3 {
  height: 1px;
  border: 1px dotted #a2a2a2;
  width: calc(100% / 2 - 163px);
  box-sizing: border-box; }

.booklet-item {
  position: relative; }

.form-title_text {
  margin-top: 20px;
  margin-bottom: 30px; }

.form-title {
  color: #272728;
  font-family: 'RobotoMedium';
  font-size: 14px;
  margin-bottom: 5px; }

.form-input {
  width: 400px;
  height: 30px;
  border: 1px solid #9d9b9a;
  border-radius: 4px;
  margin-bottom: 15px;
  box-sizing: border-box;
  padding-left: 15px;
  font-family: 'RobotoRegular'; }

.user-info-form_image {
  background: url(../images/user.png) no-repeat center;
  width: 114px;
  height: 114px; }

.user-form_text_reg {
  font-family: 'RobotoRegular';
  font-size: 12px;
  color: #4f4f4f;
  margin-top: 10px; }

.user-form_text_orange {
  font-family: 'RobotoBold';
  font-size: 14px;
  color: #ff862c;
  margin-top: 5px; }

.user-form_text_medium {
  font-family: 'RobotoMedium';
  font-size: 14px;
  color: #4f4f4f;
  margin-top: 5px; }

.user-info-form {
  margin-left: 50px; }

.handshake {
  background: url(../images/handshake.png) no-repeat center;
  width: 36px;
  height: 26px;
  display: block;
  margin: 0 auto;
  margin-top: 27px; }

.c-image1 {
  background: url(../images/companies1.jpg) no-repeat center;
  width: 97px;
  height: 54px;
  margin-right: 60px; }

.c-image2 {
  background: url(../images/companies2.jpg) no-repeat center;
  width: 173px;
  height: 55px;
  margin-right: 10px; }

.c-image4 {
  background: url(../images/companies4.jpg) no-repeat center;
  width: 165px;
  height: 54px;
  margin-right: 50px; }

.c-image3 {
  background: url(../images/companies3.jpg) no-repeat center;
  width: 67px;
  height: 55px;
  margin-right: 55px; }

.company-item {
  display: inline-block;
  float: left; }

.companies {
  margin: 0 auto;
  float: none;
  margin-top: 10px;
  margin-bottom: 80px; }

.company-items {
  height: 55px; }

.c-image1:last-child {
  margin-right: 0px; }

.footer-nav {
  display: inline-block; }

.footer-nav_link {
  font-size: 12px;
  color: #fff;
  font-family: 'RobotoRegular';
  display: flex;
  margin-bottom: 10px; }

.footer-wrapper {
  background: url(../images/footer_bg.jpg) no-repeat center;
  width: 100%;
  height: 140px;
  background-size: cover;
  position: relative; }

.footer-nav:first-child {
  border-right: 1px solid #a29c98;
  padding-right: 20px; }

.footer-nav_lastCol {
  padding-left: 15px; }

.footer-logo {
  background: url(../images/footer-logo.png) no-repeat center;
  width: 124px;
  height: 10px; }

.nav-title {
  padding-top: 20px;
  padding-bottom: 15px; }

.nav-title {
  font-size: 12px;
  font-family: 'RobotoBold';
  color: #fff;
  text-transform: uppercase; }

.footer-form_text {
  background: transparent;
  border: 0px;
  border-bottom: 1px solid #fff;
  width: 170px;
  height: 20px;
  box-sizing: border-box;
  margin-bottom: 5px;
  outline: none;
  font-size: 10px;
  color: #fff;
  font-family: 'RobotoItalic';
  padding-left: 5px; }

.footer-form_button {
  width: 170px;
  height: 20px;
  box-sizing: border-box;
  border: 1px solid #fff;
  color: #fff;
  background: transparent;
  text-transform: uppercase;
  font-size: 10px;
  font-family: 'RobotoMedium';
  text-align: center; }

.footer-form_text::-webkit-input-placeholder {
  color: #fff; }

.footer-form_text:-moz-placeholder {
  /* Firefox 18- */
  color: #fff; }

.footer-form_text::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff; }

.footer-form_text:-ms-input-placeholder {
  color: #fff; }

.footer-nav_link:hover {
  color: #fff; }

.fa-map-marker {
  display: inline-block; }

.text-adress {
  display: inline-block; }

.icon-footer {
  margin-right: 5px; }

.social-link-footer {
  color: #979797;
  font-size: 10px; }

.social-footer-wrapper a {
  text-decoration: none; }

.footer-text {
  color: #6d6d6d;
  font-size: 10px;
  font-family: 'RobotoRegular';
  text-align: center; }

.footer-copyright {
  color: #6d6d6d;
  font-size: 12px;
  font-family: 'RobotoRegular';
  padding: 0px; }

.social-footer-wrapper a {
  margin-right: 20px; }

.social-wrapper-links {
  float: right; }

.social-footer-wrapper a:last-child {
  margin-right: 0px; }

.social-footer-wrapper {
  padding: 0px; }

.footer-bottom {
  min-height: 75px;
  box-sizing: border-box;
  padding-top: 10px;
  position: relative;
  padding-left: 0px;
  padding-right: 0px; }

.footer-navigation-wrapper {
  padding-left: 0px; }

.up-button {
  background: url(../images/up.png) no-repeat center;
  width: 42px;
  height: 26px;
  position: absolute;
  top: -36px;
  left: 50%;
  margin-left: -21px;
  cursor: pointer; }

.input-wrapper {
  position: relative;
  width: 400px; }

.hint {
  padding: 2px;
  background: orange;
  font-size: 13px;
  font-family: 'RobotoRegular';
  position: absolute;
  top: 14px; }

.icon-mail {
  background: url(../images/grey_envelope.png) no-repeat center;
  width: 17px;
  height: 14px; }

@media (max-width: 1200px) {
  .navigation, .wrapper-header, .footer-wrapper {
    height: auto; }
  .tour-text, .info-text, .comments-text, .companies-wrapper .info-text, .slider-google {
    width: auto; }
  .tour-item_wrapper {
    width: 313px;
    margin: 0 auto;
    padding: 0px;
    margin-bottom: 20px; }
  .google_big, .google_block {
    display: block;
    float: none;
    margin: 0 auto; }
  .google_block {
    border: 1px solid #c7c4c4; }
  .booklet-item {
    margin-bottom: 20px; }
  .form-input, .input-wrapper {
    width: 100%; }
  .user-info-form {
    text-align: center; }
  .user-info-form_image {
    margin: 0 auto; }
  .company-item {
    width: 100%;
    margin-bottom: 10px; }
  .container {
    padding: 0px 15px;
    width: 100%; }
  .footer-bottom {
    text-align: center; }
  .social-wrapper-links {
    float: none;
    text-align: center; }
  .footer-copyright {
    padding: 15px 0px; }
  .up-button {
    top: -26px; }
  .item-wrapper {
    display: block; }
  .slider-google .flex-direction-nav {
    width: 80px;
    height: 54px;
    position: absolute;
    left: 50%;
    margin-left: -26px; }
  .user-info-form {
    margin-left: 0px; }
  .slider-container {
    padding: 0px 60px; } }

@media (max-width: 725px) {
  .navigation:before {
    display: none; } }

@media (max-width: 640px) {
  .top-header {
    height: auto; }
  .top-header, .top-header-infoWrapper, .top-header_mail {
    display: block; }
  .language {
    height: 28px;
    display: block;
    margin: 0 auto; }
  .top-header_mail {
    text-align: center; }
  .top-header-infoWrapper {
    float: none; }
  .social-links {
    display: block;
    float: none;
    text-align: center; }
  .language-triangle {
    display: none; }
  .logo-block {
    display: block;
    float: none;
    margin: 0 auto; }
  .logo-wrapper {
    margin: 0 auto;
    height: 40px;
    line-height: 40px; }
  .phone-area {
    display: block;
    float: none;
    margin: 0 auto;
    text-align: center; } }
